body {
    padding: 25px;
    background-image: linear-gradient(cornflowerblue, aliceblue, cornflowerblue);
}
.welcome {
    color: #dc3445;
    text-shadow: 3px 3px 0px darkslateblue;
}
.container {
    margin-top: 35px;
}
.navigation-bar {
    display: inline-block;
}
.navigation-link {
    margin-right: 5px;
    margin-left: 15px;
}
.belt {
    height: 50px;
    width: 108px;
}
.logout {
    margin-left: 10px;
}
.profile-link {
    text-decoration: none;
}
.belt-big {
    height: 200px;
    width: auto;
}
.shrink-container {
    width: 500px;
}

.box_dropped_into {
    width: 435px;
    height: 310px;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
}

.code_snippets {
    width: 400px;
    height: 310px;
    border: 2px dotted red;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}